@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: "Sentient";
    src: url("../fonts/Sentient-Medium.otf");
}

@font-face {
    font-family: "SentientItalic";
    src: url("../fonts/Sentient-MediumItalic.otf");
}

@font-face {
    font-family: "sfpro";
    src: url("../fonts/SF-Pro-Display-Bold.ttf");
}

@font-face {
    font-family: "script";
    src: url("../fonts/script.ttf");
}

.appleContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.blurred-div {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.blurSvg {
    position: absolute;
    z-index: 0;
    stroke: #bdc4ef;
    stroke-width: 8;
    stroke-dasharray: 0 1078.79;
    stroke-dashoffset: 108;
    fill: none;
    animation: dash 7s  cubic-bezier(0.8, 0.3, 0, 1) alternate infinite ;
}


.drawSvg {
    position: absolute;
    z-index: 2;
    fill: black !important;
    stroke: #4d5562;
    stroke-linecap: round;
    stroke-width: 1;
    stroke-dasharray:0 1078.79;
    fill: white;
    animation: dash 7s 250ms cubic-bezier(0.8, 0.2, 0, 1) alternate infinite ;
}

@keyframes dash {
    50% {
        stroke-dasharray: 500;
        stroke-dashoffset: 512;
    }
    100%{
        stroke-dasharray: 1400;
        stroke-dashoffset: 500;
    }
   
}

.two{
    stop-color: #bc2a8d;
    animation: changeColor2 2s 5s alternate infinite ;
}
  
  

@keyframes changeColor1 {
    0% {
      stop-color: #ecc1ff; 
    }
 
    100% {
      stop-color: #4c9ff1; 
    }
  }

  @keyframes changeColor2 {
    0% {
      stop-color: #bc2a8d; 
    }
 
    100% {
      stop-color: #ecc1ff; 
    }
  }
  

  .one {
    stop-color: #ecc1ff;
    animation: changeColor1 2s 5s alternate infinite ;
  }
  


.tag {
    font-family: "script";
}

.navbar {
    position: fixed;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Sentient";
    font-style: bold;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.scroll {
    color: #909090;
    position: absolute;
    right: 2.5rem;
    bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 6;
}

.scroll__line {
    background-color: #909090;
    width: 2px;
    border-radius: 5px;
    height: 60px;
    margin-bottom: 16px;
}

.scroll__text {
    padding: 2px;
    font-size: 10px;
    font-family: "Goudy Bookletter 1911";
    font-style: italic;
    transform: rotate(90deg);
    line-height: 0.8em;
    margin: 0.1em 0;
}

.desc {
    opacity: 0;
    font-size: 20px;
    text-align: center;
}

.desc1 {
    background-image: linear-gradient(120deg, #ffbb00, #ffdd9a);
    background-clip: text;
    color: transparent;
}

.desc2 {
    background-image: linear-gradient(120deg, #00b3ff, #84beff);
    background-clip: text;
    color: transparent;
}

.greygradient {
    background-image: linear-gradient(120deg, #767676, #c4c4c4);
    background-clip: text;
    color: transparent;
}

.gradient {
    background-image: linear-gradient(90deg, #68beff, #f5f3cf);
    background-clip: text;
    color: transparent;
}

.bggradient{
    background: linear-gradient(to right, #ffffff,#ececec);
}

.squiggle {
    background-color: #00b3ff;
    stroke-dasharray: 30450;
    stroke-dashoffset: 30450;
}

.hello {
    stroke-dasharray: 30450;
    stroke-dashoffset: 30450;
}

.innerShadow {
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.075);
}

.linkedin {
    fill: rgb(144, 144, 144);
    transition: 0.2s ease;
}

.instagram {
    fill: rgb(144, 144, 144);
    transition: 0.2s ease;
}

.linkedin:hover {
    fill: #0072b1;
    transition: 0.2s ease;
}

.instagram:hover {
    fill: #bc2a8d;
    transition: 0.2s ease;
}

.Projects:hover{
    color: rgb(107 114 128) !important;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: light;
    }
    body {
        color: white;
        background: rgb(255, 255, 255);
    }
}
