@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: "Sentient";
    src: url("../fonts/Sentient-Medium.otf");
}

@font-face {
    font-family: "SentientItalic";
    src: url("../fonts/Sentient-MediumItalic.otf");
}

@font-face {
    font-family: "sfpro";
    src: url("../fonts/SF-Pro-Display-Bold.ttf");
}

@font-face {
    font-family: "script";
    src: url("../fonts/script.ttf");
}


.tag {
    font-family: "script";
}

.navbar {
    position: fixed;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Sentient";
    font-style: bold;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.scroll {
    color: #909090;
    position: absolute;
    right: 2.5rem;
    bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 6;
}

.scroll__line {
    background-color: #909090;
    width: 2px;
    border-radius: 5px;
    height: 60px;
    margin-bottom: 16px;
}

.scroll__text {
    padding: 2px;
    font-size: 10px;
    font-family: "Goudy Bookletter 1911";
    font-style: italic;
    transform: rotate(90deg);
    line-height: 0.8em;
    margin: 0.1em 0;
}

.desc {
    opacity: 0;
    font-size: 20px;
    text-align: center;
}

.desc1 {
    background-image: linear-gradient(120deg, #ffbb00, #ffdd9a);
    background-clip: text;
    color: transparent;
}

.desc2 {
    background-image: linear-gradient(120deg, #00b3ff, #84beff);
    background-clip: text;
    color: transparent;
}

.greygradient {
    background-image: linear-gradient(120deg, #767676, #c4c4c4);
    background-clip: text;
    color: transparent;
}

.gradient {
    background-image: linear-gradient(200deg, #1ebcff, #aeddff);
    background-clip: text;
    color: transparent;
}

.squiggle {
    background-color: #00b3ff;
    stroke-dasharray: 30450;
    stroke-dashoffset: 30450;
}

.hello {
    stroke-dasharray: 30450;
    stroke-dashoffset: 30450;
}

.innerShadow {
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.075);
}

.linkedin {
    fill: rgb(144, 144, 144);
    transition: 0.2s ease;
}

.instagram {
    fill: rgb(144, 144, 144);
    transition: 0.2s ease;
}

.linkedin:hover {
    fill: #0072b1;
    transition: 0.2s ease;
}

.instagram:hover {
    fill: #bc2a8d;
    transition: 0.2s ease;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: light;
    }
    body {
        color: white;
        background: rgb(255, 255, 255);
    }
}
